/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Flex Container for Layout */
.flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for Blog Posts */
.blog-box {
    margin: 30px auto;
    padding: 10px 20px;
    max-width: 800px;
}

/* Cards for Blog Posts */
.card {
    margin: 130px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Card Content */
.card-body {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

/* Image in Card */
.card-img-top {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.4s;
}

.card-img-top:hover {
    transform: scale(0.96);
}

.card-title {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bolder;
    color: #4e4e4e;
}

/* Button Styles */
.normal-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #e8aa42;
    color: #fff;
    padding: 12px 40px;
    margin: 5px 0;
    border: 0;
    border-radius: 2px;
    transition: all 0.7s ease;
}

.normal-btn:hover {
    background-color: #333;
}

.button-1{
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    text-transform: uppercase;
    align-items: center;
    border-radius: 2px;
}

.button-1:hover{
    background-color: rgb(181, 181, 181);
    color: white;
}

/* Footer Styles */
.footer {
    padding: 1rem;
    background-color: rgba(200, 200, 200, 0.6);
    min-height: 10vh;
    color: #000;
    font-size: 1.1rem;
}

.footer input {
    padding: 12px 20px;
    font-size: 1rem;
    margin-left: 5px;
}

/* Responsive Design */
@media (max-width: 991px) {
    .blog-box {
        margin: 30px 10px;
    }

    .footer {
        flex-direction: column;
        font-size: 0.6rem;
    }

    .footer input {
        padding: 5px 5px;
    }
}