.blog-box{
    margin: 100px 300px;
    padding: 10px 10px;
}

.card{
    margin: 20px 5px;
}

.card-body{
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    padding: 10px 10px;
}

.card-img-top{
    height: 340px;
    width: 80%;
    margin: 5px 100px;
    border-radius: 10px;
}

.normal-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #e8aa42;
    color: #fff;
    align-items: center;
    padding: 12px 40px;
    margin: 5px 0;
    border: 0px;
    border-radius: 2px;
    transition: all 0.7s ease;
}

.normal-btn:hover{
    background-color: #333;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.pg-btn:hover{
    background-color: antiquewhite;
}

.footer{
    padding: 1rem;
    background-color: rgba(200, 200, 200, 0.6);
    min-height: 10vh;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}

.footer input{
    padding: 12px 20px;
    font-size: 1rem;
    margin-left: 5px;
}

@media (max-width: 1500px) {
    .card-img-top{
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 1300px) {
    .end{
        font-size: 14px;
        padding: 10px 0;
    }
}
 

@media (max-width:1100px) {
    
    .blog-box{
        margin: 30px 140px;
    }

    .flex-space-around{
        flex-direction: column;
    }
}


@media (max-width:900px) {
    
    .blog-box{
        margin: 20px 30px;
    }
}